
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1170px;
  --color-primary: #DB4444;
   --font-pop: "Poppins", sans-serif;
}
@layer utilities{
  .container{
    margin: auto;
  }
}

.slick-dots {   
    bottom: 11px !important;
    width: 80% !important;
}
.slick-dots .slick-active div{
  background-color: #DB4444;
  border: 2px solid white;
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}
